@define-color white         #FFFFFF;
@define-color black         #000000;
@define-color accent        #FFFFFF;
@define-color accent-left   #e34b49;
@define-color accent-right  #70a3b5;
@define-color accent-center #5C6164;
@define-color background    #000000;

* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrains Mono Nerd Font" ;
    font-size: 14px;
    min-height: 20px;
    padding: 0px 4px;
}

window#waybar {
    background: rgba(0,0,0,1);
}


button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
}

#window {
    transition: none;
    color: @accent;
}

#tags {
    font-size: 4px;
    color: @accent;
    background: @white;
    transition: none;
}

#tags button {
    transition: none;
    color: #E50000;
    background: transparent;
    font-size: 16px;
    border-radius: 2px;
}

#tags button.occupied {
    transition: none;
    color: #E50000;
    background: transparent;
    font-size: 4px;
}

/* #tags button.focused {
color: @teal;
border-top: 2px solid @purple;
border-bottom: 2px solid @pink;
} */

#tags button.focused:hover {
    color: #E50000;
}


/*
Workspace 
*/
#workspaces {
    color: @accent-left;
}

#media {
    color: @accent;
    background:  @background;
}

#workspaces button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: @accent-left;
    font-weight: normal;
    outline: none;
    text-shadow: none;
}

#workspaces button.active {
    font-weight: bold;
    color: @background;
    background: @accent-left;
}

#workspaces button:hover {
    color: @accent-left;
}

#workspaces button {
    box-shadow: none;
}

#network {
    transition: none;
    color: @accent-right;
}

#bluetooth {
    transition: none;
    color: @accent-left;
}

#backlight {
    transition: none;
    color: @accent-right;
}

#pulseaudio {
    transition: none;
    color: @accent-right;
}

#clock {
    transition: none;
    color: @accent-center;
}

#cpu {
    transition: none;
    color: @accent-left;
}

#memory {
    transition: none;
    color: @accent-left;
}

#battery {
    transition: none;
    color: @accent-left;
}

#battery.charging, #battery.plugged {
    color: @accent-left;
    background-color: @background;
}

#battery.critical:not(.charging) {
    color: @accent-left;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}




@keyframes blink {
    to { 
        color: @white;
    }
}



#tray {
    transition: none;
    color: @accent-left;
}

#custom-launcher {
    transition: none;
    color: @accent-left;
}

#custom-power {
    transition: none;
    color: @accent-right;
}

#custom-wallpaper {
    transition: none;
    color: @white;

}

#custom-updates {
    transition: none;
    color: @accent;
}

#custom-wayweather {
    transition: none;
    color: @accent-center;
    font-family: "JetBrains Mono Nerd Font" ;
    font-size: 14px;
}

#custom-media {
    transition: none;
    color: @accent;
}
